<h1> Welcome, <%= current_user.username.titleize%>.</h1>
<h3>Here is a list of all the hikers</h3>

<ul>
<% @users.each do |user| %>
<li><a href="users/<%= user.id %>"> <%= user.username.titleize %></a> </li>
<%end%>
</ul>