<h1>Welcome, <%= current_user.username%></h1>
<h3>Here is a list of all the hikes</h3>

<ul>
<% @hikes.each do |hike|%>
    <li><a href="/hikes/<%=hike.id%>"> <%= hike.name %></a></li>

<%end%>
</ul>






