<h1>Create a Hike</h1>

<form method="post" action="/hikes">
<label>Name:</label>
<input type="text" name="name" value="name"></br>
<label>Lcation:</label>
<input type="text" name="location" value="location"></br>
<label>Milage:</label>
<input type="text" name="milage" value="milage"></br>
<label>Joined By:</label>
<input type="text" name="join_by" value="joined by"></br>
<input type="submit" value="Create Hike!">
</form>





