<h1>Create a Hike</h1>

<form method="post" action="/hikes">
<label>Name:</label>
<input type="text" name="name" ></br>
<label>Location:</label>
<input type="text" name="location" ></br>
<label>Milage:</label>
<input type="text" name="milage" ></br>
<label>Joined By:</label>
<input type="text" name="join_by" ></br>
<input type="submit" value="Create Hike!">
</form>





